---
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: DontAlign
AlignOperands: true
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: false
BinPackParameters: false
BreakAfterJavaFieldAnnotations: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ColumnLimit: 0
CompactNamespaces: false
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 4
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PointerAlignment: Right
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 4
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++11
TabWidth: 4
IncludeCategories:
  - Regex:           '^(<|")(breakpad|qscore|samtools|QSpec|zlib|sqlite3)/'
    Priority:        2
  - Regex:           '^(<|")U2Algorithm/'
    Priority:        4
  - Regex:           '^(<|")U2Core/'
    Priority:        5
  - Regex:           '^(<|")U2Designer/'
    Priority:        6
  - Regex:           '^(<|")U2Formats/'
    Priority:        7
  - Regex:           '^(<|")U2Gui/'
    Priority:        8
  - Regex:           '^(<|")U2Lang/'
    Priority:        9
  - Regex:           '^(<|")U2Private/'
    Priority:        10
  - Regex:           '^(<|")U2Script/'
    Priority:        11
  - Regex:           '^(<|")U2Test/'
    Priority:        12
  - Regex:           '^(<|")U2View/'
    Priority:        13
  - Regex:           '^".*'
    Priority:        14
  - Regex:           '<Q.*'
    Priority:        1
  - Regex:           '<.*'
    Priority:        0
UseTab: Never
...
